<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-signin-client_id" content="702303678845-g6o0hnvkosrrhsapc0qnj944ujgl9cuu.apps.googleusercontent.com">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://accounts.google.com https://www.gstatic.com https://cdn.jsdelivr.net 'unsafe-inline' 'unsafe-eval';">
    <!-- Favicon icon 
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">-->
    <title>UMC</title>
    <!-- Bootstrap Core CSS -->
    <link href="../../css/bootstrap.css" rel="stylesheet">
    <!-- page css -->
    <link href="../../css/login-register-lock.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="../../css/default-dark.css" id="theme" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <style>
        .customGPlusSignIn {
            display: inline-block;
            background: white;
            color: #444;
            width: 240px;
            border-radius: 5px;
            border: thin solid #888;
            box-shadow: 1px 1px 1px grey;
            white-space: nowrap;
        }
        .customGPlusSignIn:hover {
            cursor: pointer;
        }
        .icon {
            background: url('https://developers.google.com/identity/images/g-logo.png') transparent 5px 50% no-repeat;
            display: inline-block;
            vertical-align: middle;
            width: 42px;
            height: 42px;
        }
        .buttonText {
            display: inline-block;
            vertical-align: middle;
            padding-left: 42px;
            padding-right: 42px;
            font-size: 14px;
            font-weight: bold;
            /* Use the Roboto font that is loaded in the <head> */
            font-family: 'Roboto', sans-serif;
        }
    </style>
    <script>
        function handleCredentialResponse(response) {
            var id_token = response.credential;
            // Enviar el token al servidor
            fetch('../../function/google-signin.php', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ token: id_token })
            }).then(response => response.json())
              .then(data => {
                console.log(data);
                  if (data.success) {
                      // Redirigir o realizar alguna acción en caso de éxito
                     // window.location.href = '/dashboard';
                  } else {
                      // Manejar el error
                      alert('Error al iniciar sesión con Google');
                  }
              });
        }

        window.onload = function () {
            google.accounts.id.initialize({
                client_id: '702303678845-g6o0hnvkosrrhsapc0qnj944ujgl9cuu.apps.googleusercontent.com',
                callback: handleCredentialResponse
            });
        }

        function handleGoogleSignIn() {
            google.accounts.id.prompt(); // Muestra el cuadro de diálogo de inicio de sesión de Google
        }
    </script>
</head>
<body class="card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">UMC</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper">
        <div class="login-register" style="background-image:url(../../assets/images/background/login-register.jpg);">
            <div class="login-box card">
                <div class="card-body">
                    <form class="form-horizontal form-material" id="loginform" action="index.html">
                        <div class="row">
                            <div class="col-sm-12">
                              <img src="../assets/img/logo-universidad-miguel-de-cervantes-umc_sesion.png" alt="LOGO"><h3 class="box-title m-b-20; text-center">Iniciar Sesión</h3>
                            </div>
                          </div>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required="" placeholder="Email" id="email"> </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" required="" placeholder="Password" id="pass"> </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="checkbox checkbox-info pull-left p-t-0">
                                    
                                </div> <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Olvide mi contraseña</a> </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-block btn-lg btn-info btn-rounded" type="button" onclick="login();">Iniciar</button>
                            </div>
                        </div>
                        <!-- Botón de inicio de sesión de Google -->
                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <div id="gSignInWrapper">
                                    <div id="customBtn" class="customGPlusSignIn" onclick="handleGoogleSignIn()">
                                        <span class="icon"></span>
                                        <span class="buttonText">Iniciar con Google</span>
                                    </div>
                                </div>
                                <div id="name"></div>
                            </div>
                        </div>
                        <div class="form-group m-b-0">
                            <div class="col-sm-12 text-center">
                            No tengo cuenta<a href="pages-register.html" class="text-info m-l-5"><b>Registrarme</b></a>
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" id="recoverform" action="index.html">
                        <div class="form-group ">
                            <div class="col-xs-12">
                                      <img src="../assets/img/logo-universidad-miguel-de-cervantes-umc_sesion.png" alt="LOGO"><h3 class="box-title m-b-20; text-center">Recuperar Password</h3>
                                <p class="text-muted text-center">Escriba su correo y le enviaremos un Password temporal! </p>
                            </div>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked onclick="mostrarEmail();">
                            <label class="form-check-label" for="radio1">Email</label>
                          </div>
                          <div class="form-check">
                            <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2" onclick="mostrarRut();">
                            <label class="form-check-label" for="radio2">Rut</label>
                          </div>
                          <br/>
                        <div class="form-group" id="recuEmail">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required="" placeholder="Email" id="emailRecupera"> </div>
                        </div>
                        <div class="form-group" id="recuRUT">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required="" placeholder="RUT" id="RutRecupera"> </div>
                        </div>
                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="button" onclick="recuperarPass();">Enviar</button>
                            </div>
                        </div>
                        <div class="form-group m-b-0">
                            <div class="col-sm-12 text-center">
                           Volver al<a href="pages-login.html" class="text-info m-l-5"><b>Login</b></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../../assets/jquery/jquery.min.js"></script>
    <script src="../../assets/bootstrap/js/popper.min.js"></script>
    <script src="../assets/js/login.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../../assets/bootstrap/js/popper.min.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>

    <!--Custom JavaScript -->
    <script type="text/javascript">
        $(function() {
            $(".preloader").fadeOut();
        });
        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
        });
        // ============================================================== 
        // Login and Recover Password 
        // ============================================================== 
        $('#to-recover').on("click", function() {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
    </script>
</body>
</html>